:root{
    /* Colores*/
    --dark-blue: #911cd4;
    --mid-blue: #1dcc43;
    --light-blue: #59afe9;
    --dark-black: #000000;
    --mid-black: #1a1b1b;
    --grey: #acacac;
}

body{
    background-color: var(--dark-black);
}

header{
    height: 500px;
    background-image: url('..img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-style li{
    list-style: none;
    text-decoration: none;
}

.li-style a{
    writing-mode: vertical-lr;
    font-weight: bold;
    color: var(--dark-black);
    text-decoration: none;
}

.profile-image{
    height: 200px;
    border-radius: 100%;
    position: relative;
    top:-150px;
}

.portfolio-img{
    height: 500px;
}

h2, p{
    color:  var(--grey)!important;
}